node_modules
.env
log
.DS_Store
.idea

.next

*.deploy.sh

*-image.sh

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.yalc/
yalc.lock

.vscode/settings.json
