@import "@osn/react-cmdk/dist/cmdk.css";

.command-palette {
  z-index: 50;

  & .command-palette-content h4 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    letter-spacing: 0.16em;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
  }

  & .command-palette-content .fixed.inset-0 {
    background-color: rgba(0, 0, 0, 0.25);
  }

  & .command-palette-content-panel {
    background-color: var(--neutral100);
  }

  & .command-palette-list-item {
    &.bg-gray-200\/50 {
      background-color: var(--neutral200);
    }
    &.bg-gray-800 {
      background-color: var(--neutral200);
    }

    &:hover {
      background-color: var(--neutral200);
    }

    & div:first-child {
      width: auto;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: var(--textPrimary);
      text-transform: capitalize;
    }
  }
}
