.markdown-body,
.html-body {
  --borderColor-default: var(--neutral300);
  --borderColor-muted: var(--neutral400);

  -webkit-font-smoothing: initial;
  font-weight: initial;
  /* block level */
  h6 {
    color: var(--textSecondary);
  }

  table {
    tr {
      background-color: var(--neutral100);
    }

    tbody {
      tr {
        &:nth-child(2n) {
          background-color: var(--neutral200);
        }
      }
    }

    th,
    td {
      border-color: var(--borderColor-default);
    }
  }

  pre {
    background-color: var(--neutral200) !important;
  }

  img {
    margin: 1rem 0;
  }

  /* inline level */
  a {
    color: var(--sapphire500);
  }

  code {
    background-color: var(--neutral300);
  }
}
