html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  transition: 0.3 ease;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  border-top: none;
  border-bottom-color: #ebeef4;
}

* {
  box-sizing: border-box;
}

#nprogress .bar {
  background: #6848ff !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #6848ff, 0 0 5px #6848ff !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border: none !important;
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: 8px !important;
}
